html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', 'Fraunces', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #000 !important;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

input,
span,
table,
th,
td,
form,
div,
.form-select {
  background-color: transparent !important;
  color: #fff !important;
}

select option {
  color: black;
  background-color: transparent !important;

}

input::placeholder {
  color: #fff !important;
}

select {
  color: #fff !important;
}

.btn {
  color: #fff !important;
  border: 1px solid #fff !important;
}

.modal-content {
  box-shadow: 20px 20px 120px #000;
  backdrop-filter: blur(4px);
}

.btn {
  background-color: rgba(120, 105, 105, 0.2);
}

.btn:hover {
  background-color: rgba(120, 105, 105, 0.8);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}



/* loader */
.loader {
  top: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: absolute;
  transform: rotate(45deg);
  box-sizing: border-box;
  opacity: 0.5;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #706866;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(15deg);
  transition: 0.7s;
}

.center:hover {
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(0deg);
}

.center h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 5em;
  color: #fff !important;
  transform-style: preserve-3d;
  transition: 0.8s;
}

.center h1 span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h1 span:nth-child(2) {
  color: #5E17EB !important;
  transform: translate(-50%, -50%) skewX(-60deg);
  left: -19px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewY(0deg);
  left: -40px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewX(0deg);
  left: 0;
  color: #fff !important;
}


/*  */

.containers{
  position: absolute !important;
  position: fixed !important;
  right: 0 ;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#apple,
#twitter,
#github,
#facebook,
#telegram{
  font-size: 3em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
}
#twitter{
  animation-delay: 0.3s;
}
#facebook{
  animation-delay: 0.7s;
}
#github{
  animation-delay: 0.1s;
}
#telegram{
  animation-delay: 0.1s;
}
@keyframes animate{
  from{
      filter: hue-rotate(0deg);
  }
  to{
      filter: hue-rotate(360deg);
  }
}

/*  */


.box{
  position: fixed !important;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 6%;
	left: 4%;
  z-index: 11;
}
.container-box{
	width: 200px;
}
.clock{
	height: 100%;
	width: 100%;
	padding: 20px 12px;
	border-radius: 8px;
}

.wrapper{
	text-align: center;
}
#time{
	font-size: 20px;
	display: inline-block;
}
#day{
	position: relative;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #c5c5c5;
	text-align: center;
}
#midday{
	display: inline-block;
	font-size: 20px;
}